body {
	font-family: 'Arvo', serif;
	color: rgb(255, 255, 255);
	background: linear-gradient(#999ee5, #c6abd6);
}

.container {
	width: 750px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.album {
	width: 250px;
	height: 250px;
	float: left;
}

h2 {
	padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

#weapon {
	background-image: url(../Imgs/weapon.jpg);
}

#dejaentendu {
	background-image: url(../Imgs/dejaentendu.jpg);
}

#devilandgod {
	background-image: url(../Imgs/thedevilandgod.jpg);
}

#forkandknife {
	background-image: url(../Imgs/forkandknife.jpg);
}

#bottom {
	background-image: url(../Imgs/bottom.jpg);
}

#mene {
	background-image: url(../Imgs/mene.jpg);
}

#nightmare {
	background-image: url(../Imgs/nightmare.jpg);
}

#daisy {
	background-image: url(../Imgs/daisy.jpg);
}

#sciencefiction {
	background-image: url(../Imgs/sciencefiction.jpeg);
}

a:link {
	color: rgb(226, 222, 222);
	text-decoration: none;
	width: 250px;
	height: 250px;
}

a:hover {
	opacity: 0.9;
	color: rgb(255, 255, 255);
	background-color: rgb(41, 92, 142);
}

a:visited {
	color: rgb(150, 171, 204);
}

a:active {
	color: rgb(158, 239, 234);
}

.album:hover {
	opacity:0.6;
	color: rgb(229, 229, 229);
}
